.sections{
   width :100%
}

.listBox {
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.check{
   margin-right: 10px;
}
.lists{
   display: flex;
   .list{
      text-decoration: line-through;
   }
}

.buttons{
   font-size: 15px;
}