.sections{
   height:100%;
   display: flex;
   flex-direction: column;
   background-color: var(--color-bg);
}

.list {
   flex : 1 1 auto;
   overflow-y: auto;
}

.listBox {
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.check{
   margin-right: 10px;
}
.lists{
   display: flex;
   .list{
      text-decoration: line-through;
   }
}

.buttons{
   font-size: 15px;
}