@use "../../App.module.scss" as mixin;

.header{
   @include mixin.flexbetween;
   background-color: var(--color-bg-dark);
   border-bottom: 1px solid var(--color-grey);
   padding : 0 1rem;
   .filters{
      @include mixin.flexbetween;
      .filter{
         font-size: 1.4rem;
         margin: 0.3rem;
         text-transform: capitalize;
         background-color: transparent;
         color : var(--color-accent);
         opacity: 0.5;
         font-weight: bold;
         &:hover,
         &.selected{
            opacity: 1;
         }
         &.selected::after {
            content: "";
            display: block;
            margin-top: 0.2rem;
            border: 1px solid var(--color-text);
         }
      }
   }

   .darkmode_icon {
      font-size: 1.2rem;
      cursor: pointer;
      opacity: 0.5;
      &:hover {
         opacity: 1;
      }
   }

}